* { padding: 0; margin: 0; }
html, body{
	padding: 0;
	box-sizing: border-box;
}
.container, .container-fluid{
	margin-top: 20px;
}
.pagination{ user-select: none; }
.msg{
	position: fixed;
	bottom: 0;
	right: 10px;
	opacity: 0;
	z-index: 10;
}
.input-edit{ margin-top: -20px }
.img-responsive{
	width: 50px;
	height: 50px;
}
.icon a i{
	color: #a59699;
	font-size: 18px;
	transition: .2s ease;
}
.icon a i:hover{
	opacity: .5
}
.button-link.active{
	display: block;
	color: #fff;
	background: #54D4F4
}
/*.input-group-prepend{
	background: #ccc;
	padding: 0 10px 0 15px;
	text-align: center;
	border-radius: 5px 0 0 5px !important;
	box-sizing: border-box;
}*/
/*.datepicker{
	border: 2px solid #ccc;
	border-radius: 0 5px 5px 0 !important;
}*/
.btn-income{
	margin-top: 20px
}
.btn-reset{
	margin-top: 5px
}